.mycon > .title {
  width: 100%;
  height: 160px;
}
.mycon > .my {
  min-width: 730px;
}
.mycon .myinfo-container {
  width: 60%;
  min-width: 730px;
  height: 100%;
  margin: auto;
  padding: 30px 90px;
}

.mycon .myinfo-container .title {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: solid 2px black;
}
.mycon .myinfo-container > .user-info > .title {
  margin-top: 32px;
}

.mycon .myinfo-container .item > span:first-child {
  font-size: 0.785rem;
  font-weight: bold;
}
.mycon .myinfo-container .item > span {
  display: inline-block;
  padding-top: 12px;
  margin-top: 20px;
}
.mycon .myinfo-container .item > .info-box {
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mycon .myinfo-container .item > .info-box > span {
  display: inline-block;
  padding: 12px 0;
  font-size: 1rem;
}
.mycon .myinfo-container .item > .msg {
  padding: 0;
  margin-top: 6px;
  font-size: 0.78rem;
  color: #dc3545;
  font-weight: bold;
}
.mycon .myinfo-container .item > .info-box > input {
  outline: none;
  width: 300px;
  border: none;
  padding: 12px 0;
  font-size: 1rem;
}
.mycon .myinfo-container .item > .info-box button,
.mycon .myinfo-container .item > .pwdbtn {
  background-color: #4a8522;
  color: #ffffff;
  width: 50px;
  height: 30px;
  font-size: 0.875rem;
  border-radius: 16px;
}

.mycon .myinfo-container .item > .info-box button:hover,
.mycon .myinfo-container .item > .pwdbtn:hover {
  background-color: rgba(74, 133, 34, 0.8);
}

.mycon .myinfo-container .item > .info-box > div > button:first-child {
  margin-right: 12px;
}
.mycon .myinfo-container .item > .pwdbtn {
  width: 110px;
  height: 30px;
  margin-left: 12px;
}
.mycon .myinfo-container .Withdrawal > span {
  display: inline-block;
  margin-top: 16px;
  font-size: 0.785rem;
  cursor: pointer;
}
.mycon .myinfo-container .Withdrawal > span:hover {
  color: #4a8522;
  border-bottom: solid 1px #4a8522;
}
