.mymatecon > .topbtn {
  position: fixed;
  width: 45px;
  height: 45px;
  right: calc(10% - 27.5px);
  bottom: 50px;
  color: gray;
  cursor: pointer;
}
.mymatecon > .mymate {
  min-width: 575px;
}
.mymatecon .content-mymate {
  width: 60%;
  min-width: 575px;
  height: 100%;
  margin: auto;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.mymatecon .content-mymate > ul {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 42px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.mymatecon .content-mymate > ul > .item {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.mymatecon .content-mymate > ul > li .postit {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.mymatecon .content-mymate > ul > li .userinfo {
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mymatecon .content-mymate > ul > li .userinfo .imgbox {
  width: 100%;
  height: 50%;
}
.mymatecon .content-mymate > ul > li .userinfo .imgbox .userprofile {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.mymatecon .content-mymate > ul > li .userinfo .infobox {
  width: 100%;
  height: 50%;
}
.mymatecon .content-mymate > ul > li .userinfo .infobox > span {
  display: block;
}
.mymatecon .content-mymate > ul > li .userinfo .infobox > .nickname {
  font-size: 0.875rem;
  margin-top: 10px;
}
.mymatecon .content-mymate > ul > li .userinfo .infobox > .id {
  font-size: 0.785rem;
  margin-top: 10px;
  color: gray;
}
