.contents-container > .content-mymate {
  /* border: solid 1px blue; */
  width: 60%;
  height: 100%;
  /* height: calc(100vh - 300px); */
  margin: auto;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.contents-container > .content-mymate > ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
  padding: 42px 32px;
  /* justify-content: center; */
}

.contents-container > .content-mymate > ul > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.375rem;
}

.contents-container > .content-mymate > ul > .item {
  width: 244.5px;
  height: 130px;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px lightgrey;
  display: flex;
  /* margin: auto; */
}

.contents-container > .content-mymate > ul > .item > .img {
  width: 35%;
  height: 100%;
  text-align: center;
  /* border: solid 1px red; */
}

.contents-container > .content-mymate > ul > .item > .img > .imgicon {
  width: 100%;
  height: 30%;
  margin-top: 20px;
  /* border: solid 1px red; */
}
.contents-container > .content-mymate > ul > .item > .info {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  /* border: solid 1px red; */
}
.contents-container > .content-mymate > ul > .item > div > .nickname {
  /* border: solid 1px red; */
  width: 100%;
  height: 50%;
  padding-top: 15px;
}

.contents-container > .content-mymate > ul > .item > div > .id {
  /* border: solid 1px red; */
  width: 100%;
  height: 50%;
  padding-top: 15px;
}
