.contents-container > .content-mytrip {
  /* border: solid 1px blue; */
  width: 60%;
  height: 100%;
  /* height: calc(100vh - 300px); */
  margin: auto;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.contents-container > .content-mytrip > ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 32px;
  /* justify-content: center; */
}

.contents-container > .content-mytrip > ul > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.375rem;
}

.contents-container > .content-mytrip > ul > .item {
  width: 100%;
  height: 100%;
  border-bottom: solid 1px lightgrey;
  padding: 16px 12px;
  font-size: 0.875rem;
}

.contents-container > .content-mytrip > ul > .mytrip:hover {
  color: rgb(155, 155, 155);
}

.contents-container > .content-mytrip > ul > .mytrip > .tripinfo > .triptitle {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 6px;
}

.contents-container
  > .content-mytrip
  > ul
  > .mytrip
  > .tripinfo
  > .triptitle:hover {
  color: rgb(95, 95, 95);
}

.contents-container > .content-mytrip > ul > .mytrip > .tripinfo > section {
  margin-bottom: 4px;
}
