.mytripcon > .mytrip {
  min-width: 725px;
}
.mytripcon > .content-mytrip {
  width: 70%;
  min-width: 725px;
  height: 100%;
  margin: auto;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  text-align: center;
  padding-top: 12px;
}
.content-mytrip .number {
  width: 5%;
}
.content-mytrip .triptitle {
  width: 30%;
}
.content-mytrip .host {
  width: 15%;
}
.content-mytrip .matecnt {
  width: 10%;
}
.content-mytrip .time1 {
  width: 20%;
}
.content-mytrip .time2 {
  width: 20%;
}

.mytripcon .content-mytrip .mytriptitlebar {
  width: 100%;
  border-top: solid 2.5px black;
  border-bottom: solid 2.5px black;
}
.mytripcon .content-mytrip .mytriptitlebar > span {
  display: inline-block;
  padding: 16px 0;
}

.content-mytrip > .triplistbox .item > span {
  font-family: var(--font-NotoSansKR-Regular) !important;
  display: inline-block;
  padding: 12px 0;
  cursor: pointer;
}
.content-mytrip > .triplistbox .item {
  border-bottom: dashed 2px lightgray;
}
.content-mytrip > .triplistbox .item:hover {
  color: gray;
  cursor: pointer;
}

.content-mytrip > .pagelistbox {
  height: 56px;
  padding: 14px 0;
}
.content-mytrip > .pagelistbox > * {
  display: inline-block;
}
.content-mytrip > .pagelistbox > span:hover {
  text-decoration: underline;
}
.content-mytrip > .pagelistbox .pagelist {
  margin: 0 12px;
}
.content-mytrip > .pagelistbox .pagelist .item {
  display: inline;
  cursor: pointer;
  margin: 0 12px;
}
.content-mytrip > .pagelistbox .pagelist .item:hover {
  text-decoration: underline;
}
.content-mytrip > .pagelistbox .pagelist .select {
  color: #4a8522;
}
.content-mytrip > .pagelistbox > span {
  font-size: 1rem;
  cursor: pointer;
  margin: 0 6px;
}
