* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Handot;
}

u,
li {
  list-style: none;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

span {
  cursor: default;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 82px;
}

.contents-container {
  /* border: solid 1px red; */
  width: 100%;
  height: 100%;
  /* height: calc(100vh - 300px); */
}

.contents-container .title {
  width: 100%;
  height: 218px;
  text-align: center;
  margin: auto;
  background-color: rgba(74, 133, 34, 0.5);
  /* border: solid 1px red; */
  /* position: relative; */
}

/* .contents-container .title img {
  width: 100%;
  height: 218px;
  object-fit: cover;
  opacity: 0.75;
  border: solid 1px red;
} */
.contents-container .title > span {
  display: block;
  font-size: 2.75rem;
  padding-top: 62px;
  padding-bottom: 34px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  /* position: absolute; */
  /* top: 30%; */
  /* left: 50%; */
  /* transform: translate(-50%, -30%); */
}

/* .contents-container .title > div {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
} */

.contents-container .title > div > span {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  text-shadow: 1px 1px 1px #000;
}

.contents-container .title > div > span:hover {
  text-decoration-line: underline;
}

.contents-container .content-mytrip {
  /* border: solid 1px blue; */
  width: 60%;
  height: 100%;
  /* height: calc(100vh - 300px); */
  margin: auto;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.contents-container .content-mytrip ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 32px;
  /* justify-content: center; */
}

.contents-container .content-mytrip ul > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.375rem;
}

.contents-container .content-mytrip ul .item {
  width: 100%;
  height: 100%;
  border-bottom: solid 1px lightgrey;
  padding: 16px 12px;
  font-size: 0.875rem;
}

/* .contents-container .content-mytrip ul .mytrip {
  cursor: pointer;
}*/

.contents-container .content-mytrip ul .mytrip:hover {
  color: rgb(155, 155, 155);
}

.contents-container .content-mytrip ul .mytrip .tripinfo .triptitle {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 6px;
}

.contents-container .content-mytrip ul .mytrip .tripinfo .triptitle:hover {
  color: rgb(95, 95, 95);
}

.contents-container .content-mytrip ul .mytrip .tripinfo section {
  margin-bottom: 4px;
}
