.modal > section > main .tripsetlist {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.modal > section > main .tripsetlist > .item {
  width: 100%;
  border-bottom: solid 1px lightgray;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.modal > section > main .tripsetlist > .item > div {
  height: 100%;
}

.modal > section > main .tripsetlist > .item > div > button {
  width: 45px;
  height: 36px;
  border-radius: 5px;
  font-size: 0.875rem;
  margin-right: 3px;
}

.modal > section > main .tripsetlist > .item > div > button:hover {
  color: #fff;
}

.modal > section > main .tripsetlist > .item > div > .declinebtn {
  background-color: #d33d38;
}
.modal > section > main .tripsetlist > .item > div > .updatebtn {
  background-color: #4a8522;
}

/* /mytrip : 여행 만들기*/
.modal > section > main .tripadd {
  width: 100%;
  height: 300px;
}
.modal > section > main .tripadd > span {
  display: inline-block;
  margin-bottom: 11px;
}
.modal > section > main .tripadd > .triptitle {
  margin-bottom: 22px;
}
.modal > section > main .tripadd > .triptitle > input {
  outline: none;
  border: none;
  border-bottom: solid 1px #6c757d;
  width: 335px;
  height: 50px;
  font-size: 1rem;
}

.modal > section > main .tripadd > .triptitle > span {
  display: inline-block;
  font-size: 0.785rem;
  width: 60px;
}
.modal > section > main .tripadd > .tripmate-container * {
  font-family: var(--font-NotoSansKR-Regular) !important;
}
.modal > section > main .tripadd > .tripmate-container {
  display: flex;
  cursor: default;
  justify-content: center;
}

.modal > section > main .tripadd > .tripmate-container > .matelistbox {
  border: solid 1px #6c757d;
  overflow-y: auto;
  width: 140px;
  height: 140px;
  margin-right: 5px;
  font-size: 0.895rem;
}
.modal > section > main .tripadd > .tripmate-container > .matelistbox .item,
.modal > section > main .tripadd > .tripmate-container > .mateaddbox .item {
  padding: 2px 0;
}
.modal > section > main .tripadd > .tripmate-container > .listarrow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal > section > main .tripadd > .tripmate-container > .listarrow > button {
  width: 20px;
  height: 50%;
  font-size: 1.25rem;
  border-radius: 3px;
  background-color: lightgray;
}

.modal
  > section
  > main
  .tripadd
  > .tripmate-container
  > .listarrow
  > button:first-child {
  margin-top: 5px;
}

.modal
  > section
  > main
  .tripadd
  > .tripmate-container
  > .listarrow
  > button:last-child {
  margin-bottom: 5px;
}
.modal > section > main .tripadd > .tripmate-container > .mateaddbox {
  border: solid 1px #6c757d;
  overflow-y: auto;
  width: 140px;
  height: 140px;
  margin-left: 5px;
  font-size: 0.895rem;
}
.modal
  > section
  > main
  .tripadd
  > .tripmate-container
  > .matelistbox
  > ul
  > .true {
  background-color: lightgray;
}
.modal > section > main .tripadd > .tripadd_btn {
  margin-top: 16px;
  height: 36px;
}

.modal > section > main .tripadd > .tripadd_btn > button {
  width: 25%;
  height: 100%;
  font-size: 1rem;
  background-color: #4a8522;
  border-radius: 6px;
}

.modal > section > main .tripadd > .tripadd_btn > .small {
  width: 15%;
  background-color: lightgray;
}
.modal > section > main .tripadd > .tripadd_btn > .first {
  margin-right: 10px;
}

.modal > section > main .tripadd > .tripadd_btn > button:hover {
  color: #ffffff;
  background-color: #6c757d;
}

/* /mytrip : 여행 관리 (삭제) */

.modal > section > main .tripsetlist > .item > .triptitle {
  margin-right: auto;
  padding-left: 16px;
  font-size: 1rem;
}
