div.tripmate-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

/* /mymate : 메이트 요청 컨텐츠*/
.modal > section > main > .matereq {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.modal > section > main > .matereq > .item {
  /* border: solid 1px red; */
  width: 100%;
  height: 36px;
  border-bottom: solid 1px lightgray;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 12px; */
}

.modal > section > main > .matereq > .item > .nickname {
  padding-left: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 8px;
}

.modal > section > main > .matereq > .item > .id {
  font-size: 0.875rem;
  margin-right: auto;
}

.modal > section > main > .matereq > .item > .id {
  font-size: 0.875rem;
}
.modal > section > main > .matereq > .item > div {
  /* border: solid 1px red; */
  height: 100%;
}
.modal > section > main > .matereq > .item > div > button {
  width: 45px;
  height: 100%;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
}

.modal > section > main > .matereq > .item > div > button:hover {
  color: #fff;
}
.modal > section > main > .matereq > .item > div > .acceptbtn {
  background-color: #4a8522;
  margin-right: 3px;
}

.modal > section > main > .matereq > .item > div > .declinebtn {
  background-color: #d33d38;
}

/* /mymate : 메이트 추가 컨텐츠*/
.modal > section > main > .mateadd {
  width: 100%;
  height: 150px;
  overflow-y: auto;
}

.modal > section > main > .mateadd > .findcontainer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.modal > section > main > .mateadd > .findcontainer > input {
  outline: none;
  border: none;
  border-bottom: solid 1px #6c757d;
  width: 85%;
  font-size: 1rem;
}
.modal > section > main > .mateadd > .findcontainer > button {
  background-color: #f1f1f1;
  width: 13%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
}
.modal > section > main > .mateadd > .findcontainer > button:hover {
  background-color: #6c757d;
  color: #fff;
}

.modal > section > main > .mateadd > span {
  display: inline-block;
  width: 100%;
  font-size: 0.875rem;
  margin-top: 6px;
  font-weight: bold;
  /* border: solid 1px red; */
}
.modal > section > main > .mateadd > .result {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 4px;
  background-color: #f1f1f18a;
  border-radius: 4px;
  /* border: solid 1px red; */
}
.modal > section > main > .mateadd > .result > span {
  font-size: 1rem;
  font-weight: bold;
}
.modal > section > main > .mateadd > .result > #id {
  margin-right: 8px;
  padding-left: 8px;
}
.modal > section > main > .mateadd > .result > #nickname {
  font-size: 0.8rem;
  color: #6c757d;
  font-weight: bold;
  margin-right: auto;
}

.modal > section > main > .mateadd > .result > button {
  width: 13%;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: #4a8522d0;
  cursor: auto;
}
.modal > section > main > .mateadd > .result > .req {
  background-color: #4a8522;
  cursor: pointer;
}
.modal > section > main > .mateadd > .result > .req:hover {
  background-color: #4a8522d0;
  color: #fff;
}

/* /mytrip : 여행 추가 컨텐츠*/
.modal > section > main > .tripadd {
  width: 100%;
  height: 300px;
  /* overflow-y: auto; */
}
.modal > section > main > .tripadd > span {
  display: inline-block;
  /* border: solid 1px red; */
  margin-bottom: 11px;
  /* font-weight: bold; */
}
.modal > section > main > .tripadd > .triptitle {
  margin-bottom: 22px;
  /* border: solid 1px red; */
}
.modal > section > main > .tripadd > .triptitle > input {
  outline: none;
  border: none;
  border-bottom: solid 1px #6c757d;
  width: 335px;
  height: 50px;
  font-size: 1rem;
}

.modal > section > main > .tripadd > .triptitle > span {
  /* border: solid 1px black; */
  display: inline-block;
  font-size: 0.785rem;
  width: 60px;
}
.modal > section > main > .tripadd > .tripmate-container {
  /* border: solid 1px red; */
  display: flex;
  cursor: default;
  justify-content: center;
}

.modal > section > main > .tripadd > .tripmate-container div {
  /* border: solid 1px black; */
}
.modal > section > main > .tripadd > .tripmate-container > .matelistbox {
  border: solid 1px #6c757d;
  overflow-y: auto;
  width: 140px;
  height: 140px;
  margin-right: 5px;
  font-size: 0.895rem;
}
.modal > section > main > .tripadd > .tripmate-container > .listarrow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal > section > main > .tripadd > .tripmate-container > .listarrow > button {
  width: 20px;
  height: 50%;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 3px;
  background-color: lightgray;
  /* color: #fff; */
}

.modal
  > section
  > main
  > .tripadd
  > .tripmate-container
  > .listarrow
  > button:first-child {
  margin-top: 5px;
}

.modal
  > section
  > main
  > .tripadd
  > .tripmate-container
  > .listarrow
  > button:last-child {
  margin-bottom: 5px;
}
.modal > section > main > .tripadd > .tripmate-container > .mateaddbox {
  border: solid 1px #6c757d;
  overflow-y: auto;
  width: 140px;
  height: 140px;
  margin-left: 5px;
  font-size: 0.895rem;
}
.modal
  > section
  > main
  > .tripadd
  > .tripmate-container
  > .matelistbox
  > ul
  > .true {
  background-color: lightgray;
}
.modal > section > main > .tripadd > .tripadd_btn {
  /* border: solid 1px red; */
  margin-top: 16px;
  height: 36px;
}

.modal > section > main > .tripadd > .tripadd_btn > button {
  width: 25%;
  height: 100%;
  font-size: 1rem;
  background-color: #4a8522;
  /* color: #ffffff; */
  border-radius: 6px;
  /* font-weight: bold; */
}
/* footer */
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
