* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: contain;
}

u,
li {
  list-style: none;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

span {
  cursor: default;
}

@import "./pages/my/Headerbar.css";
