* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: contain;
  font-family: var(--font-NotoSansKR-Bold) !important;
}

u,
li {
  list-style: none;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

span {
  cursor: default;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  font-family: var(--font-NotoSansKR-Regular) !important;
}
/* 스크롤바 설정*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 스크롤바 막대 설정*/
::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: #2b4e13;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

@import "./pages/my/Headerbar.css";
