.plancontainer {
  width: 100%;
  height: 100%;
  min-width: 1366px;
}

.plancontainer .imgicon {
  cursor: pointer;
}
.plancontainer .imgicon:hover {
  color: gray;
}

/* 타이틀바 */
.plancontainer .headerbox {
  box-shadow: 0 2px 2px 0 lightgrey;
  height: 80px;
  display: flex;
  align-items: center;
}

.plancontainer .headerbox .pagemovebox {
  width: 70px;
  text-align: center;
}

.plancontainer .headerbox .pagemovebox:hover {
  color: gray;
}
.plancontainer .headerbox .pagemovebox .imgicon {
  width: 100%;
  height: 30px;
}
.plancontainer .headerbox .pagemovebox .icontext {
  font-size: 0.685rem;
  font-weight: bold;
}
.plancontainer .headerbox .titlebox {
  height: 100%;
}
.plancontainer .headerbox .titlebox > div {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.plancontainer .headerbox .titlebox span {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 20px;
}

.plancontainer .headerbox .titlebox input {
  font-size: 1.3rem;
  width: 500px;
  outline: none;
  border: none;
  padding-bottom: 4px;
  border-bottom: solid 2px lightgray;
}

.plancontainer .headerbox .titlebox .imgicon {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  margin: 0 5px;
}

/* 컨텐츠영역 */
.plancontainer .contentbox {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  background-color: rgba(238, 238, 238, 0.3);
}

/* 메이트,타임라인 리스트 */
.plancontainer .contentbox .listbox {
  width: 150px;
  min-width: 150px;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  box-shadow: 3px 2px 2px lightgrey;
}
.plancontainer .contentbox .listbox .listtitle {
  display: block;
  padding-top: 10px;
  font-weight: bold;
}

.plancontainer .contentbox .listbox .listtitle:after {
  margin: auto;
  padding-top: 10px;
  content: "";
  display: block;
  width: 100px;
  border-bottom: dashed 1px lightgray;
}
.plancontainer .contentbox .listbox .listtitle .imgicon {
  margin-left: 5px;
}

.plancontainer .contentbox .listbox ul {
  height: calc(100vh - 125px);
  overflow-y: auto;
}

.plancontainer .contentbox .listbox ul .item {
  padding: 10px 10px 0 10px;
  /* border: solid 1px red; */
}

.plancontainer .contentbox .listbox ul .item:after {
  margin: auto;
  padding-top: 10px;
  content: "";
  display: block;
  width: 100px;
  border-bottom: dashed 1px lightgray;
}

/* 타임라인 리스트 */
.plancontainer .contentbox .timelinelist ul li {
  cursor: pointer;
}

.plancontainer .contentbox .timelinelist ul li:hover {
  text-decoration-line: underline;
}

.plancontainer .contentbox .timelinelist ul > .select {
  background-color: rgba(238, 238, 238, 0.7);
  font-weight: bold;
}

/* form */
.plancontainer .contentbox .form {
  flex: auto;
}
/* 타임라인 제목 입력 */
.plancontainer .contentbox .form .titletext {
  margin: 15px 0;
  width: 50%;
  display: flex;
  align-items: end;
}
.plancontainer .contentbox .form .titletext > input {
  width: calc(100% - 50px);
  outline: none;
  border: none;
  padding: 10px;
  border-bottom: solid 1px gray;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 50px;
  background-color: rgba(238, 238, 238, 0);
}
.plancontainer .contentbox .form .titletext > button {
  padding: 5px;
  width: 50px;
  height: 30px;
  margin-left: 6px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #4a8522;
  font-size: 0.85rem;
}
.plancontainer .contentbox .form .titletext > button:hover {
  color: #ffffff;
}

/* 리액트 캘린더 */
.plancontainer .contentbox .form .calenderbox {
  border-bottom: dotted 1px gray;
  height: 60px;
  position: relative;
}

.plancontainer .contentbox .form .calenderbox .daytext {
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.plancontainer .contentbox .form .calenderbox .daytext > span > button {
  padding: 5px;
  margin-right: 6px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #4a8522;
  font-size: 0.75rem;
}
.plancontainer .contentbox .form .calenderbox .daytext > span > button:hover {
  color: #ffffff;
}

.plancontainer .contentbox .form .calenderbox .daytext > span {
  margin-left: 50px;
}
.plancontainer .contentbox .form .calenderbox .daytext > .line {
  margin-left: 15px;
}
.plancontainer .contentbox .form .calenderbox .daytext > .text {
  display: block;
  margin-bottom: 6px;
}

.plancontainer .contentbox .form .calenderbox .daytext > .imgicon {
  margin-left: 10px;
}

.plancontainer .contentbox .form .calenderbox .react-calendar {
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 2;
}
/* 카카오맵+타임라인 */
.plancontainer .contentbox .form .mapdaybox {
  width: 100%;
  height: calc(100vh - 213px);
  position: relative;
}

.plancontainer .contentbox .form .kakaomapbox {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 32px;
}
.plancontainer .contentbox .form .daybox {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  padding: 32px;
}

/* 카카오맵 */
.plancontainer .contentbox .form .kakaomapbox .kakomap {
  width: 100%;
  height: 100%;
}
/* 타임라인 day */
.plancontainer .contentbox .form .daybox > .lbtn {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 30px;
  border: solid 1px black;
  border-radius: 3px;
}
.plancontainer .contentbox .form .daybox > .rbtn {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 30px;
  border: solid 1px black;
  border-radius: 3px;
}

.plancontainer .contentbox .form .daybox > ul {
  height: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.plancontainer .contentbox .form .daybox > ul > li > .lidaytext {
  padding: 15px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 30px 30px 0 0;
  background-color: rgb(32, 32, 32);
  color: #fff;
  cursor: default;
}

.plancontainer .contentbox .form .daybox > ul > li {
  display: inline-block;
  width: 45%;
  height: 98%;
  border-radius: 30px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow-y: auto;
}

/* 스크롤바 막대 투명하게 설정*/
.plancontainer .contentbox .scrollnone::-webkit-scrollbar {
  width: 0;
}

.plancontainer .contentbox .form .daybox > ul > li > ul {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.plancontainer .contentbox .form .daybox > ul > li > ul > .placeaddbtn {
  border-radius: 10px;
  border: dashed 2px lightgray;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
}
.plancontainer .contentbox .form .daybox > ul > li > ul > li {
  border-bottom: solid 1px lightgray;
  padding: 10px 0;
  text-align: start;
  white-space: normal;
  display: flex;
  align-items: center;
}
.plancontainer .contentbox .form .daybox > ul > li > ul > li > .itemindex {
  margin: 0 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #4a8522;
  color: #fff;
}
.plancontainer .contentbox .form .daybox > ul > li > ul > li > .itemtext {
  display: inline-block;
  font-size: 0.875rem;
}
.plancontainer .contentbox .form .daybox > ul > li > ul > li > .imgicon {
  padding: 5px 5px;
  margin: 0 5px;
}
/* 커스텀 마커 */
.label {
  margin-bottom: 96px;
}
.label * {
  display: inline-block;
  vertical-align: top;
}
.label .left {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png")
    no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  vertical-align: top;
  width: 7px;
}
.label .center {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png)
    repeat-x;
  display: inline-block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}
.label .right {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px
    0 no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  width: 6px;
}
