* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Handot;
}

u,
li {
  list-style: none;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
}
.container .fixheader {
  /* border: solid 1px red; */
  background-color: #ffff;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
}
.container .fixheader .menu-container {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  box-shadow: 0 2px 2px 0 lightgrey;
  display: flex;
}
.container .fixheader .menu-container img {
  /* border: solid 1px red; */
  width: 142px;
  object-fit: contain;
}
.container .fixheader .menu-container .item {
  cursor: pointer;
}
.container .fixheader .menu-container .menu {
  /* border: solid 1px red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .fixheader .menu-container .menu ul {
  /* border: solid 1px blue; */
  display: flex;
  gap: 0 10px;
  white-space: nowrap;
  justify-content: flex-end;
}
.container .fixheader .menu-container .menu div {
  /* border: solid 1px blue; */
  text-align: center;
  width: 96px;
}
.container .fixheader .menu-container .menu ul .item {
  border: solid 2px #ffffff;
  padding: 10px;
  font-size: 1rem;
}
.container .fixheader .menu-container .menu ul .item:hover {
  color: #4a8522;
  font-weight: bold;
  border-bottom: solid 2px #4a8522;
}

.container .fixheader .menu-container .menu .loginbtn {
  background-color: #ffffff;
  border-radius: 20px;
  width: 90px;
  padding: 8px 0;
  font-size: 1rem;
}

.container .fixheader .menu-container .menu .loginbtn:hover {
  /* outline: solid 1.5px #4A8522; */
  background-color: #4a8522;
  color: #ffffff;
  font-size: 1rem;
}
.container .contents-container {
  /* background-color: gray; */
  width: 100%;
  height: 100%;
  margin-top: 80px;
}
