* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Handot;
}

u,
li {
  list-style: none;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.join-container {
  width: 100%;
  height: 100%;
  /* border: solid 1px red; */
}

.join-container .centerfix {
  /* border: solid 1px red; */
  width: 790px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-container .centerfix img {
  margin-top: 32px;
  margin-bottom: 48px;
  cursor: pointer;
}
.join-container .centerfix .title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.join-container .centerfix .userinfo {
  /* border: solid 1px red; */
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.join-container .centerfix .userinfo div {
  /* border: solid 1px red; */
  white-space: nowrap;
}
.join-container .centerfix .userinfo div select {
  width: calc(100% / 3.2);
  padding: 0.8em 0.5em;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  font-family: inherit;
  font-size: 0.875rem;
  background: url("../img/arrow.jpg") no-repeat 95% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.join-container .centerfix .userinfo div .full {
  width: 100%;
  margin: 0;
}
.join-container .centerfix .userinfo div .second {
  margin: 0 16px;
}

.join-container .centerfix .userinfo div .title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.join-container .centerfix .userinfo div .title .essential {
  /* border: solid 1px red; */
  margin-left: 4px;
  font-size: 1rem;
  vertical-align: top;
  font-weight: bold;
  color: #dc3545;
}

.join-container .centerfix .userinfo div .item {
  border: none;
  outline: none;
  border-bottom: solid 1px lightgray;
  width: 100%;
  height: 40px;
  font-size: 0.875rem;
}
.join-container .centerfix .userinfo div .item:focus {
  border-bottom: solid 1px black;
}
.join-container .centerfix .userinfo div .overlap {
  width: 380px;
}

.join-container .centerfix .userinfo div .overlapbtn {
  width: 110px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  border: solid 1px black;
  margin-left: 10px;
  font-size: 0.875rem;
  text-align: center;
}

.join-container .centerfix .userinfo div .overlapbtn:hover {
  background-color: rgba(1, 92, 86, 0.1);
}

.join-container .centerfix .userinfo div .over {
  border: solid 1px #015c56;
  background-color: #015c56;
  color: #ffffff;
}
.join-container .centerfix .userinfo div .over:hover {
  background-color: rgba(1, 92, 86, 1);
  cursor: auto;
}
.join-container .centerfix .userinfo div .msgtitle {
  /* border: solid 1px red; */
  width: 100%;
  margin-top: 8px;
}
.join-container .centerfix .userinfo div .msgtitle .msg {
  /* border: solid 1px red; */
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: -0.6px;
  font-weight: bold;
  color: #dc3545;
}

.join-container .centerfix .userinfo .pwcontainer > span {
  display: block;
  font-size: 0.725rem;
  font-weight: bold;
  margin-top: 8px;
  color: #888888;
}

.join-container .centerfix .userinfo .birthcontainer .line {
  /* border: solid 1px red; */
  display: flex;
}
.join-container .centerfix .userinfo .birthcontainer .line > section {
  /* border: solid 1px red; */
  width: calc(100% / 3.2);
}
.join-container
  .centerfix
  .userinfo
  .birthcontainer
  .line
  > section:nth-child(2) {
  /* border: solid 1px red; */
  margin-left: 16px;
  margin-right: 16px;
}

.join-container .centerfix .userinfo .joinbtn {
  width: 180px;
  height: 45px;
  margin: auto;
  background-color: #015c56;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 7px;
  margin-bottom: 62px;
}

.join-container .centerfix .userinfo .joinbtn:hover {
  background-color: rgba(1, 92, 86, 0.8);
}
