.join-container {
  width: 100%;
  height: 100%;
}
.join-container .centerfix {
  width: 50%;
  min-width: 680px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-container .centerfix .first {
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-container .centerfix .first a {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-container .centerfix .first img {
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.join-container .centerfix .userinfo {
  width: 90%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.join-container .centerfix .userinfo div {
  white-space: nowrap;
}
.join-container .centerfix .userinfo div select {
  width: calc(100% / 3.2);
  padding: 0.8em 0.5em;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  font-family: inherit;
  font-size: 0.875rem;
  background: url("../img/arrow.jpg") no-repeat 95% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.join-container .centerfix .userinfo div .full {
  width: 100%;
  margin: 0;
}
.join-container .centerfix .userinfo div .second {
  margin: 0 16px;
}

.join-container .centerfix .userinfo div .title {
  font-size: 1rem;
  margin-bottom: 12px;
}

.join-container .centerfix .userinfo div .title .essential {
  margin-left: 4px;
  font-size: 1rem;
  vertical-align: top;
  color: #dc3545;
}

.join-container .centerfix .userinfo div .item {
  border: none;
  outline: none;
  border-bottom: solid 1px lightgray;
  width: 100%;
  height: 40px;
  font-size: 0.875rem;
}
.join-container .centerfix .userinfo div .item:focus {
  border-bottom: solid 1px black;
}
.join-container .centerfix .userinfo div .overlap {
  width: calc(100% - 120px);
}

.join-container .centerfix .userinfo div .overlapbtn {
  width: 110px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  border: solid 1px black;
  margin-left: 10px;
  font-size: 0.875rem;
  text-align: center;
}

.join-container .centerfix .userinfo div .overlapbtn:hover {
  background-color: rgba(74, 133, 34, 0.1);
}

.join-container .centerfix .userinfo div .over {
  border: solid 1px #4a8522;
  background-color: #4a8522;
  color: #ffffff;
}
.join-container .centerfix .userinfo div .over:hover {
  background-color: rgba(74, 133, 34, 1);
  cursor: auto;
}
.join-container .centerfix .userinfo div .msgtitle {
  width: 100%;
  margin-top: 8px;
}
.join-container .centerfix .userinfo div .msgtitle .msg {
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: -0.6px;
  color: #dc3545;
}

.join-container .centerfix .userinfo .pwcontainer > span {
  display: block;
  font-size: 0.725rem;
  margin-top: 8px;
  color: #888888;
}

.join-container .centerfix .userinfo .birthcontainer .line {
  display: flex;
}

.join-container .centerfix .userinfo div .small {
  width: auto;
}
.join-container
  .centerfix
  .userinfo
  .birthcontainer
  .line
  > section:nth-child(2) {
  margin-left: 16px;
  margin-right: 16px;
}

.join-container .centerfix .userinfo .joinbtn {
  width: 180px;
  height: 45px;
  margin: auto;
  background-color: #4a8522;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 7px;
  margin-bottom: 62px;
}

.join-container .centerfix .userinfo .joinbtn:hover {
  background-color: rgba(74, 133, 34, 0.8);
}

.emailcontainer .emailcode {
  padding-top: 10px;
}

.emailcontainer .emailcode > span {
  display: inline-block;
}

.emailcontainer .emailcode > input {
  width: 286px;
  margin: 0 12px;
  padding: 4px 0;
  font-size: 1rem;
}
