.login-container {
  width: 100%;
  height: 99vh;
  max-height: 1024px;
}

.login-container .loginbox {
  width: 40%;
  min-width: 540px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .loginbox .first {
  width: 100%;
  height: 25%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container .loginbox .first a {
  width: 35%;
}

.login-container .loginbox .first img {
  width: 100%;
  object-fit: contain;
}

.login-container .loginbox .inputbox {
  width: 100%;
  height: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container .loginbox .item {
  width: 80%;
  height: 15%;
  max-height: 70px;
  border: none;
  outline: none;
  border-bottom: solid 1px lightgrey;
  font-size: 1rem;
}

.login-container .loginbox .item:focus {
  border-bottom: solid 1px black;
}

.login-container .loginbox .msg {
  display: inline-block;
  width: 80%;
  height: 10%;
  font-size: 0.8rem;
  letter-spacing: -0.6px;
  color: #dc3545;
}

.login-container .loginbox .close {
  display: none;
}

.login-container .loginbox .autologincheck {
  font-size: 1rem;
  width: 100%;
  margin-top: 16px;
}

.login-container .loginbox .autologincheck > input {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border: 1.5px solid lightgrey;
  border-radius: 0.2rem;
  margin-right: 8px;
}

.login-container .loginbox .autologincheck > input:checked {
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #4a8522;
}

.login-container .loginbox .loginbtn {
  width: 50%;
  height: 15%;
  max-height: 70px;
  margin-top: 5%;
  font-size: 1rem;
  background-color: #4a8522;
  color: #ffffff;
  border-radius: 30px;
}

.login-container .loginbox .loginbtn:hover {
  background-color: rgba(74, 133, 34, 0.8);
}

.login-container .loginbox .more {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}
.login-container .loginbox .more > span {
  cursor: pointer;
}
.login-container .loginbox .more > span:hover {
  color: #4a8522;
  border-bottom: solid 1px #4a8522;
}

.login-container .loginbox .more span:nth-child(2) {
  margin: 0 16px;
}

.hr-sect {
  width: 360px;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin: 10px 0px;
}

.login-container .loginbox .hr-sect::before,
.login-container .loginbox .hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

.login-container .loginbox .snslogin button {
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 4px;
  background-color: #3a1d1d;
  color: #f7e600;
}

.login-container .loginbox .snslogin button:hover {
  background-color: #3a1d1def;
}
