.userfind-container {
  width: 100%;
  height: 100%;
}
.userfind-container > .type-header {
  /* background-color: #ffff; */
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 2px 0 lightgrey;
  display: flex;
  justify-content: center;
}
.userfind-container > .type-header > div {
  width: 300px;
  height: 100%;
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
}
.userfind-container > .type-header > .selected {
  color: #4a8522;
}
.userfind-container > .type-header > div:hover {
  color: #4a8522;
}
.userfind-container > .type-header > div > .imgicon {
  font-size: 1.275rem;
  margin-right: 4px;
}
.userfind-container > .type-header > div > span {
  font-size: 1.275rem;
  font-weight: bold;
  cursor: pointer;
}
.userfind-container > .type-header > img {
  width: 120px;
  object-fit: contain;
  margin-right: 22px;
  cursor: pointer;
}
.userfind-container > .content-container {
  width: 100%;
  /* height: calc(100vh - 80px); */
}

.userfind-container > .content-container > .content-box {
  width: 800px;
  margin: auto;
}

.id-content,
.pw-content {
  display: flex;
  flex-direction: column;
}

.id-content > span {
  font-size: 0.775em;
  margin-bottom: 6px;
  font-weight: bold;
}
.id-content > span:first-child,
.pw-content > span {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 32px;
  padding-bottom: 6px;
  border-bottom: solid 3px lightgray;
}

.idchoicecon {
  border: solid 1px lightgray;
  height: 320px;
  margin-top: 12px;
  padding: 42px 62px;
}

.idchoicecon > div > label {
  display: inline-block;
  margin-top: 18px;
  font-weight: bold;
  margin-left: 6px;
}
.idchoicecon > .lastbox {
  border-top: solid 1px lightgray;
  margin-top: 24px;
}
.idchoicecon > div > .findtextbox {
  /* border: solid 1px blue; */
  margin: 0 18px;
}

.idchoicecon > div > .findtextbox > span {
  display: inline-block;
  font-size: 0.775em;
  margin-bottom: 24px;
}

.idchoicecon > div > .findtextbox > div:last-child {
  margin-top: 4px;
}
.idchoicecon > div > .findtextbox > div > span {
  display: inline-block;
  width: 150px;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 6px 12px;
}
.idchoicecon > div > .findtextbox > div > input,
.down > div > div > input {
  width: 200px;
  padding: 2px 0;
}
.idchoicecon button,
.rescon button {
  border: solid 1px gray;
  margin-left: 18px;
  font-size: 0.775em;
  font-weight: bold;
  padding: 4px;
}

.rescon {
  border: solid 1px lightgray;
  /* height: 70px; */
  margin-top: 32px;
  text-align: center;
  padding: 22px 0;
  font-size: 1rem;
  font-weight: bold;
}
.pw {
  height: auto;
}
.down {
  height: 160px;
  margin-top: 32px;
}
.down > div {
  /* border: solid 1px red; */
  text-align: center;
}

.down > div > span {
  /* border: solid 1px red; */
  font-size: 1rem;
  font-weight: bold;
}

.down > div > div {
  /* border: solid 1px red; */
  margin-top: 18px;
}

.down > div > div > span {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 6px 12px;
}
.pw > div > div > span {
  display: inline-block;
  font-size: 0.675rem;
  font-weight: bold;
  padding: 6px 12px;
  color: #dc3545;
}
.pw > div > div > span:first-child {
  /* border: solid 1px red; */
  font-size: 1rem;
  color: black;
}
.pw > div {
  /* border: solid 1px red; */
  width: 200px;
  text-align: center;
  margin: auto;
}
.pw > div > button {
  margin: 0;
  margin-top: 8px;
}
.pw > div > div {
  padding: 8px 0;
}

.pw > div > div > input {
  padding: 4px 0;
  width: 100%;
}
